.App {
  text-align: center;
}

.navbar-nav li {
  margin-left: 1.8rem;
}
.main__nav {
  box-shadow: 5px 5px 5px rgb(140, 140, 140);
}
.head {
  font-size: 5rem;
}
.sidebar {
  height: 130vh;
}
.order__list {
  list-style-type: disc;
}
.order__list li::marker {
  color: gray;
  font-size: 2rem;
}
form {
  border-radius: 2rem;
}
.l-div {
  margin-top: 10rem;
}
